CHAOS_SWARM_STORAGE_MODE=memory
CHAOS_SWARM_EXECUTION_MODE=local
OPENAI_API_KEY=
BROWSERBASE_API_KEY=
BROWSERBASE_PROJECT_ID=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=
TRIGGER_PROJECT_ID=proj_whomfjpayhmhuikhierx
TRIGGER_SECRET_KEY=
VERCEL_TOKEN=
